html,
body,
#root {
  height: 100%;
}
#root {
  display: flex;
  flex-direction: column;
}
.main-content {
  flex: 1 0 auto;
}
.cs-footer {
  flex-shrink: 0;
}

.spinner-container {
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 5;
}

.btn {
  font-weight: bold;
}

.cs-form {
  max-width: 380px;
  margin: auto;
}

.eye {
  position: absolute;
  cursor: pointer;
  top: inherit;
  left: inherit;
  /* margin-top: -2.6rem; */
  /* margin-top: -3.6rem;  */
  margin-left: 21rem;
  padding: 12px;
}
